<!DOCTYPE html>
<html lang="zh-Hans" ng-app="iotApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="a bucket of factory">
    <link rel="shortcut icon" href="https://iot.espressif.cn/static/img/favicon.ico" type="image/x-icon">

    <title>{{title}} · Factory</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-resource.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-cookies.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ngStorage.min.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
  </head>

  <body>
    <div id="header-wrapper" ng-controller="auth">
      <div id="header" class="container">
        <ul ng-if="authorized == true" class="nav nav-pills pull-right">
          <li><a href="#/user">User</a></li>
          <li><a href="#/batch">Batch</a></li>
          <li><a href="#/testdata">Testdata</a></li>
          <li><a href="#/stats">Stats</a></li>
          <li class="dropdown ng-scope">
            <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown"><span class="strong">&#10047;</span></a>
            <ul class="dropdown-menu">
              <li><a href="#/login">login</a></li>
              <li><a ng-click="logout()" href="javascript:">logout</a></li>
            </ul>
          </li>
        </ul>
        <ul ng-if="authorized == false" class="nav nav-pills pull-right">
          <li><a href="#/login">Login</a></li>
        </ul>
        <h2 class="logo"><a href="#/"><strong>Iot</strong>Factory</a></h2>
      </div>
    </div>

    <div id="main-wrapper">
      <div id="main" class="container">
        <div ng-view></div>
      </div>
    </div>

    <script>
function check(data) {
    if(data.status != 200) {
        alert(data.message);
        if(data.message.indexOf('403 ') == 0) {
            window.location.href = '/f/#/login';
            window.location.reload();
        }
        return;
    }
};
function loadScript(url, type, charset) {
    if (type===undefined) type = 'text/javascript';
    if (url) {
        var script = document.querySelector("script[src*='"+url+"']");
        if (!script) {
            var heads = document.getElementsByTagName("head");
            if (heads && heads.length) {
                var head = heads[0];
                if (head) {
                    script = document.createElement('script');
                    script.setAttribute('src', url);
                    script.setAttribute('type', type);
                    if (charset) script.setAttribute('charset', charset);
                    head.appendChild(script);
                }
            }
        }
        return script;
    }
};

var iotApp = angular.module('iotApp', [
    'ngRoute',
    'ngCookies',
    'ngSanitize',
    'ngStorage',
    'iotControllers',
]);

iotApp.config(['$routeProvider',
    function($routeProvider) {
        $routeProvider.
            when('/', {
                title: 'home',
                templateUrl: './factory.html',
                controller: 'factory'
            }).
            when('/login', {
                title: 'Login',
                templateUrl: './login.html',
                controller: 'login'
            }).
            when('/user', {
                title: 'User',
                templateUrl: './user.html',
                controller: 'user'
            }).
            when('/user/create', {
                title: 'User',
                templateUrl: './user-create.html',
                controller: 'userCreate'
            }).
            when('/user/modify',{
                title: 'User',
                templateUrl: './user-modify.html',
                controller: 'userModify'
            }).
            when('/factory', {
                title: 'Factory',
                templateUrl: './factory.html',
                controller: 'factory'
            }).
            when('/factory/create', {
                title: 'Factory',
                templateUrl: './factory-create.html',
                controller: 'factoryCreate'
            }).
            when('/batch/', {
                title: 'Batch',
                templateUrl: './batch.html',
                controller: 'batch'
            }).
            when('/batch/create', {
                title: 'Batch',
                templateUrl: './batch-create.html',
                controller: 'batchCreate'
            }).
            when('/batch/stats', {
                title: 'Btach',
                templateUrl: './batch-stats.html',
                controller: 'batchStats'
            }).
            when('/testdata', {
                title: 'Testdata',
                templateUrl: './testdata.html',
                controller: 'testdata'
            }).
            when('/stats', {
                title: 'Stats',
                templateUrl: './stats.html',
                controller: 'stats'
            }).
            otherwise({
                redirectTo: '/login'
            });
}]);

iotApp.run(['$location', '$rootScope', function($location, $rootScope) {
    $rootScope.$on('$routeChangeSuccess', function (event, current, previous) {
        $rootScope.title = current.$$route.title;
    });
}]);

iotApp.filter('range', function() {
    return function(input, total) {
        total = parseInt(total);
        for(var i = 0; i < total; i++) {
            input.push(i);
        }
        return input;
    };
});

var iotControllers = angular.module('iotControllers', []);
iotControllers.controller('auth', 
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {
    
    var token = $cookies.get('Token');
    var path = $location.path();
    $scope.authorized = true;
    if (token == undefined || token == "") {
        $scope.authorized = false;
        if (path != "/login" && path != "/login/") {
            $location.path('/login')
            return
        }
    }
    $scope.logout = function() {
        $cookies.remove('Token');
        $scope.authorized = false;
        $location.path('/login')
        return
    }
}]);

iotControllers.controller('login',
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    $scope.login = function() {
        $http.get('/user/login?account='+$scope.account+'&password='+$scope.password, {headers: {'token': 'temp'}}).success(function(data) {
            if(data.status != 200) {
                alert("login failed");
                return
            }
            now = new Date();
            expires = new Date(now.getFullYear(), now.getMonth(), now.getDate()+30);
            $cookies.put('Token', data.token, {'path': '/', 'expires': expires});
            window.location.href = location.origin + '/f/#/batch';
            window.location.reload();
            return
        });
    }
}]);

iotControllers.controller('factory', 
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    $http.get('/factorys', {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data);
        $scope.factorys = data.factorys;
    });

}]);

iotControllers.controller('factoryCreate', 
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    $scope.factory = {};
    $scope.create_factory = function() {
      $http.post('/factory/', {factory: $scope.factory}, {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data)
        $location.path('/factory');
        return;
      });
    };
}]);

iotControllers.controller('user', 
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    $http.get('/users', {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data);
        $scope.users = data.users;
    });

}]);

iotControllers.controller('userCreate', 
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {
}]);

iotControllers.controller('userModify', 
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {
}]);

iotControllers.controller('batch',
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    var qs = [];
    if($routeParams.batch_sid != undefined) {
        qs.push("batch_sid=" + $routeParams.batch_sid);
    }
    if($routeParams.factory_sid != undefined) {
        qs.push("factory_sid=" + $routeParams.factory_sid);
    }
    var q = "?" + qs.join("&");
    $scope.query = window.location.hash.split('?')[1];
    $http.get('/batchs' + q, {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data);
        $scope.batchs = data.batchs;
    });
}]);

iotControllers.controller('batchCreate',
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    $scope.batch = {};
    var ss = $cookies.get('Token').split('-');
    ss.pop();
    $scope.factory_sid = ss.join('-');
    $scope.create_batch = function() {
      $http.post('/batch/', {batch: $scope.batch}, {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data);
        $location.path('/batch');
        return;
      });
    };
}]);

iotControllers.controller('batchStats',
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage', '$timeout',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage, $timeout) {

    $scope.is_render_batch = false;
    $scope.factory_sid = "-- * --";
    $scope.batch_sid = "-- * --";
    $scope.b = {cnt:"loding", success:"loding", rejected:"loding"}
    $scope.print_pass = 0
    if($routeParams.batch_sid != undefined) {
        $scope.batch_sid = $routeParams.batch_sid;
    }
    if($routeParams.factory_sid != undefined) {
        $scope.factory_sid = $routeParams.factory_sid;
    }
    var render_batch = function(){
        $scope.is_render_batch = true;
        $http.get('/batch/stats?batch_detail='+$scope.batch_sid, {headers: {'token': $cookies.get('Token')}}).success(function(dataO) {
            var batch = dataO.batch;
            var sum = batch.success + batch.rejected;
            $scope.print_pass = batch.print_num;
            batch.success_pct = parseInt(batch.success*10000 / sum) / 100;
            //batch.right_first_time_pct = parseInt(batch.right_first_time*10000 / batch.cnt) / 100;
            batch.failed_pct = parseInt(batch.failed*10000 / sum) / 100;
            batch.rejected_pct = parseInt(batch.rejected*10000 / sum) / 100;
            $scope.b = batch;
        });
    }
    $scope.update_batch = function(){
        render_batch();
    }
    render_batch();
}]);

iotControllers.controller('testdata',
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {

    loadScript('https://cdn.staticfile.org/xlsx/0.8.0/xlsx.core.min.js', 'text/javascript', 'utf-8');
    loadScript('https://cdn.staticfile.org/FileSaver.js/2014-11-29/FileSaver.min.js', 'text/javascript', 'utf-8');
    loadScript('https://cdn.staticfile.org/TableExport/3.3.7/js/tableexport.min.js', 'text/javascript', 'utf-8');

    $scope.esp_mac = "";
    $scope.factory_sid = "-- * --";
    $scope.batch_sid = "-- * --";
    $scope.row_count = "100";
    var qs = [];
    if($routeParams.batch_sid != undefined) {
        qs.push("batch_sid=" + $routeParams.batch_sid);
        $scope.batch_sid = $routeParams.batch_sid;
    }
    if($routeParams.factory_sid != undefined) {
        qs.push("factory_sid=" + $routeParams.factory_sid);
        $scope.factory_sid = $routeParams.factory_sid;
    }
    if($routeParams.esp_mac != undefined) {
        qs.push("esp_mac=" + $routeParams.esp_mac);
        $scope.esp_mac = $routeParams.esp_mac;
    }
    if($routeParams.row_count != undefined) {
        qs.push("row_count=" + $routeParams.row_count);
        $scope.row_count = $routeParams.row_count;
    }
    $http.get('/factorys?with_batch=true', {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data);
        $scope.factorys = data.factorys;
        $scope.factory_sid = $scope.factorys[0].sid;
        $scope.batchs = $scope.factorys[0].batchs;
        $scope.factory_map = {};
        for(var i = 0; i < $scope.factorys.length; i++) {
            $scope.factory_map[$scope.factorys[i].sid] = $scope.factorys[i];
        }
        factory = $scope.factory_map[$scope.factory_sid];
        if(factory != undefined) {
            $scope.batchs = factory.batchs;
        }
    });

    var q = "?" + qs.join("&");
    $scope.query = window.location.hash.split('?')[1];
    $http.get('/testdata/dump' + q, {headers: {'token': $cookies.get('Token')}}).success(function(data) {
        check(data);
        $scope.testdatas = data.testdatas;
    });
    var tables = null;
    $scope.export = function() {
        if(tables == null) {
            tables = $("#table-export").tableExport();
        }
        tables.reset();
    };
    $scope.search = function() {
        factory = $scope.factory_map[$scope.factory_sid];
        q = {row_count: $scope.row_count};
        if(factory != undefined) {
            $scope.batchs = factory.batchs;
        }
        if($scope.esp_mac != undefined && $scope.esp_mac != "") {
            q.esp_mac = $scope.esp_mac;
            $location.path('/testdata').search(q);
            return
        }
        if($scope.factory_sid != "-- * --" && $scope.batch_sid != undefined && $scope.batch_sid != "-- * --") {
            q.factory_sid = $scope.factory_sid;
            q.batch_sid = $scope.batch_sid;
            $location.path('/testdata').search(q);
            return
        }
        if($scope.factory_sid == "-- * --") {
            $location.path('/testdata').search(q);
            return
        }
        if($scope.batch_sid == "-- * --") {
            q.factory_sid = $scope.factory_sid;
            $location.path('/testdata').search(q);
            return
        }
        $location.path('/testdata').search(q);
    };
}]);

iotControllers.controller('stats',
    ['$rootScope', '$scope', '$route', '$routeParams', '$http', '$cookies', '$location', '$anchorScroll', '$filter', '$localStorage',
    function ($rootScope, $scope, $route, $routeParams, $http, $cookies, $location, $anchorScroll, $filter, $localStorage) {
}]);
    </script>
  </body>
</html>
